*, *::before, *::after
    box-sizing: border-box

body
    padding: 20px 30px

table, th , td
    border: 1px solid black
    border-collapse: collapse

.table
    margin-bottom: 20px
    margin-right: 30px

input
    border: none
    width: inherit

.parentElement
    width: 5em
    background: #fff !important
