*, *::before, *::after
    box-sizing: border-box

body
    padding: 0 0 30px 0

table, th , td
    border: 1px solid black
    border-collapse: collapse

.table
    margin-bottom: 20px

input
    border: none
    width: inherit

.parentElement
    width: 5em
    background: #fff !important
